@import 'styles/colors.scss';

.headline {
  color: $black;
  font-weight: 700;
  line-height: 64px;
  margin: 0;
}

.padding {
  padding: 5rem 0 2rem 0;
}

.subHeadline {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.row {
  justify-content: space-around;
}

.subText {
  font-weight: 400;
  line-height: 24px;
  color: $black;
  text-transform: none;
}

.margin {
  margin: 3rem 0 3rem 0;
}

.relation {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  background: linear-gradient(109.61deg, #a54e2b -53.83%, #dc9853 62.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 0;
}
