@import 'Styles/Colors.scss';
@import 'Styles/Typography.scss';

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: space-around;
  background: $black;
}

.leftSide {
  text-align: left;
}

.center {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footerNav {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.removeMargin {
  margin: 0;
}

.textHeaderTop {
  margin-top: 0;
  text-transform: none;
}

.textLink {
  color: $white;
  opacity: 0.78;
}

.rightSide {
  text-align: left;
}

.subscribeText {
  font-weight: 700;
  width: 60%;
  line-height: 44px;
  letter-spacing: -0.01em;
}

.formField {
  padding-top: 30px;
  height: 68px;
  width: 85%;
  display: flex;
  flex-direction: row;
}

.inputField {
  background-color: $black;
  color: $white;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.btn {
  position: absolute;
  right: 230px;
}
