@import 'Styles/HomeImages.scss';

.nunImage {
  background: $nunImage;
}

.bibleImage {
  background: $bibleImage;
}

.manWithBook {
  background: $manWithBook;
}

.paintingImage {
  background: $paintingImage;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  display: flex;
  justify-content: space-around;
  gap: 25px;
}
