@import 'Styles/Colors.scss';

.row {
  justify-content: space-between;
  padding: 1rem 4rem 1rem 4rem;
}

.text {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: $black;
  margin: 0;
  text-transform: none;
}
