@import 'Styles/Colors.scss';
@import 'Styles/Typography.scss';
@import 'Styles/HomeImages.scss';
@import 'Styles/Global.scss';

.row {
  justify-content: space-between;
  padding-left: 16rem;
}

.container {
  justify-content: space-between;
  padding: 10rem;
}

.backgroundImage {
  background-image: $bgHomeHeader;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.backgroundImage > * {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.welcomeText {
  font-weight: 700;
  line-height: 19px;
}

.becomeText {
  margin-top: 0;
  font-weight: 700;
  line-height: 82px;
  letter-spacing: -0.01em;
  text-align: left;
  width: 60%;
}

.line {
  border: 1px solid $primary;
  transform: rotate(-180deg);
  width: 20px;
}

.loremText {
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  width: 70%;
  text-align: left;
  margin-top: 0;
  margin-left: 10px;
}

.justifyContentLeft {
  justify-content: left;
}
