$headerImage: url('../Storage/aboutImages/header.png');
$man: url('../Storage/aboutImages/ot-man.png');
$woman1: url('../Storage/aboutImages/ot-woman1.png');
$woman2: url('../Storage/aboutImages/ot-woman2.png');
$woman3: url('../Storage/aboutImages/ot-woman3.png');
$facebook: url('../Storage/aboutImages/facebook.png');
$twitter: url('../Storage/aboutImages/twitter.png');
$linkedin: url('../Storage/aboutImages/linkedin.png');
