$headerImage: url('../Storage/AboutImages/header.png');
$man: url('../Storage/AboutImages/ot-man.png');
$woman1: url('../Storage/AboutImages/ot-woman1.png');
$woman2: url('../Storage/AboutImages/ot-woman2.png');
$woman3: url('../Storage/AboutImages/ot-woman3.png');
$facebook: url('../Storage/AboutImages/facebook.png');
$twitter: url('../Storage/AboutImages/twitter.png');
$linkedin: url('../Storage/AboutImages/linkedin.png');
