.paddingTop1 {
  padding-top: 1rem;
}

.paddingTop2 {
  padding-top: 2rem;
}

.paddingTop3 {
  padding-top: 3rem;
}

.paddingTop4 {
  padding-top: 4rem;
}

.paddingTop5 {
  padding-top: 5rem;
}

.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

a {
  text-decoration: none;
}
