$bgHomeHeader: url('../Storage/Images/women-pray.jpg');
$prayIcon: url('../Storage/Images/prayIcon.png');
$givingIcon: url('../Storage/Images/givingIcon.png');
$getInvolvedIcon: url('../Storage/Images/getInvolvedIcon.png');
$beardedMan: url('../Storage/Images/bearded-man.jpg');
$blessingImage: url('../Storage/Images/blessing.jpeg');
$readingBook: url('../Storage/Images/reading-book.jpeg');
$nunImage: url('../Storage/Images/nun.jpeg');
$bibleImage: url('../Storage/Images/bible.jpeg');
$manWithBook: url('../Storage/Images/man-with-book.jpg');
$paintingImage: url('../Storage/Images/painting.jpeg');
$timeIcon: url('../Storage/Images/clockIcon.png');
$addressIcon: url('../Storage/Images/Icon.png');
$angelImage: url('../Storage/Images/angel-costumes.jpeg');
$cathedralImage: url('../Storage/Images/cathedral.png');
$quoteImage: url('../Storage/Images/Quoteicon.png');
