$bgHomeHeader: url("../Storage/Images/women-pray.jpg");
$prayIcon: url("../Storage/Images/prayIcon.png");
$givingIcon: url("../Storage/Images/givingIcon.png");
$getInvolvedIcon: url("../Storage/Images/getInvolvedIcon.png");
