@font-face {
  font-family: robotoCondensedReguler;
  src: url('../../public/Roboto-font/RobotoCondensed-Regular.ttf');
}

@font-face {
  font-family: robotoCondensedLight;
  src: url('../../public/Roboto-font/RobotoCondensed-Light.ttf');
}

@font-face {
  font-family: robotoCondensedBold;
  src: url('../../public/Roboto-font/RobotoCondensed-Bold.ttf');
}

$heading1: 64px;
$heading2: 48px;
$heading3: 40px;
$heading4: 32px;
$heading5: 24px;
$heading6: 16px;
$default: 12px;
$robotoReg: robotoCondensedReguler;
$robotoLight: robotoCondensedLight;
$robotoBold: robotoCondensedBold;
