@import 'Styles/Colors.scss';
@import 'Styles/AboutImages.scss';

.card {
  width: 302px;
  height: 366px;
  background: $grey;
  padding: 1rem;
}

.cardImage {
  background-position: center;
  background-repeat: no-repeat;
  border: 8px solid #ffffff;
  border-radius: 206px;
  width: 152px;
  height: 152px;
  margin-left: 4.2rem;
}

.name {
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: $black;
}

.position {
  font-weight: 400;
  line-height: 24px;
  color: $black;
  opacity: 0.7;
  text-transform: none;
}

.socialMedia {
  display: flex;
  gap: 6px;
  justify-content: center;
}

.socmed {
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.facebook {
  background-image: $facebook;
}

.twitter {
  background-image: $twitter;
}

.linkedin {
  background-image: $linkedin;
}
