@import 'styles/colors.scss';
@import 'styles/typography.scss';
@import 'styles/aboutImages.scss';
@import 'styles/global.scss';

.row {
  justify-content: space-between;
}

.container {
  justify-content: space-between;
  padding: 10rem 0 10rem 0;
  width: 90%;
}

.backgroundImage {
  background-image: $headerImage;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.welcomeText {
  color: $black;
  font-weight: 700;
  line-height: 19px;
}

.becomeText {
  color: $black;
  margin-top: 0;
  font-weight: 700;
  line-height: 82px;
  letter-spacing: -0.01em;
  text-align: left;
}
