@import 'Styles/Colors.scss';
@import 'Styles/HomeImages.scss';

.margin {
  margin: 5rem 0 5rem 0;
}

.row {
  justify-content: space-around;
  padding-top: 8rem;
}

.containerBg {
  background-image: $cathedralImage;
  mix-blend-mode: soft-light;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 736px;
  position: relative;
  margin-top: 150px;
}

.containerOverlay {
  background: linear-gradient(
    109.61deg,
    $redOrange -53.83%,
    $lightBrown 62.61%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0.2;
}

.tile {
  position: absolute;
  z-index: 3;
  height: 480px;
  width: 768px;
}

.tileTitle {
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.01em;
  color: $black;
  margin-bottom: 0;
}

.tileDesc {
  font-weight: 400;
  line-height: 24px;
  color: $black;
  opacity: 0.78;
}

.wrapper {
  display: flex;
  gap: 25px;
  padding: 1rem 1rem 1rem 2rem;
}

.leftSide {
  width: 50%;
  text-align: left;
}

.rightSide {
  position: absolute;
  width: 49%;
  align-items: center;
  right: 0;
  bottom: 35%;
}

.tileFooter {
  position: absolute;
  background: $primary;
  transform: matrix(1, 0, 0, -1, 0, 0);
  height: 15px;
  width: 768px;
  bottom: 0;
}
