@import 'Styles/Colors.scss';
@import 'Styles/Typography.scss';

.header {
  top: 0;
  left: 0;
  height: 6rem;
  display: flex;
  align-items: center;
  background: $dblack;
  padding: 0 3.5rem;
}

.headerNav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.headerList {
  padding: 1rem;
}

.button {
  position: absolute;
  right: 3.33%;
}

.divider {
  margin-left: 4%;
  height: 100%;
  opacity: 0.1;
  border: 2px solid $white;
}

.textLink {
  color: $white;
}
