@import 'Styles/Colors.scss';

.headline {
  color: $black;
  font-weight: 700;
  line-height: 64px;
  margin-top: 0;
}

.padding {
  padding: 5rem 0 5rem 0;
}

.subHeadline {
  color: $black;
  font-weight: 400;
  line-height: 19px;
}

.row {
  justify-content: space-around;
}
