@import '../../Styles/Colors.scss';
@import '../../Styles/Typography.scss';

.bgColor {
  background-color: $lightOrange;
}

.padding {
  padding: 4rem;
}

.circle {
  background-position: center;
  background-repeat: no-repeat;
  background-color: $primary;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.card {
  width: 411px;
  text-align: left;
}

.cardFooter {
  background: $primary;
  transform: matrix(1, 0, 0, -1, 0, 0);
  height: 15px;
}

.titleText {
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 0;
}

.descText {
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
}

.textColor {
  color: $black;
}
