@import 'Styles/Colors.scss';
@import 'Styles/HomeImages.scss';

.padding {
  padding: 2rem 2rem;
  text-align: left;
}

.title {
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.01em;
  color: $black;
  margin-bottom: 0;
}

.infoWrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.textInfo {
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  color: $black;
  display: flex;
  gap: 5px;
}

.timeIcon {
  background: $timeIcon;
  width: 20px;
  height: 20px;
}

.addressIcon {
  background: $addressIcon;
  width: 20px;
  height: 25px;
}

.label {
  font-weight: 500;
  line-height: 16px;
  color: #232536;
  opacity: 0.6;
  text-transform: none;
}

.input {
  background-color: $white;
  border-color: $white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  width: 100%;
  margin-bottom: 1rem;
}

.button {
  margin-top: 1.5rem;
}
