@import '../../styles/colors.scss';

.input {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

::placeholder {
  color: $white;
  opacity: 0.8;
}

:-ms-input-placeholder {
  color: $white;
  opacity: 0.8;
}

::-ms-input-placeholder {
  color: $white;
  opacity: 0.8;
}
