@import 'Styles/Colors.scss';
@import 'Styles/HomeImages.scss';

.headline {
  color: $black;
  font-weight: 700;
  line-height: 64px;
  margin-top: 0;
}

.margin {
  margin: 5rem 0 5rem 0;
}

.subHeadline {
  color: $black;
  font-weight: 400;
  line-height: 19px;
}

.row {
  justify-content: space-around;
}

.benefits {
  width: 30%;
}

.angelImage {
  background: $angelImage;
  background-position: center;
  background-size: cover;
}

.rowViewAll {
  justify-content: center;
  margin-top: 2.5rem;
  position: absolute;
  right: 310px;
}

.viewSermons {
  color: $black;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  margin-top: 0;
}
