@import 'Styles/Colors.scss';
@import 'Styles/Typography.scss';

.navText {
  font-family: $robotoReg;
  font-style: normal;
  font-weight: 400;
  font-size: $heading6;
  line-height: 19px;
  text-align: right;
  text-transform: uppercase;
  color: $white;
  opacity: 0.9;
}
